*{
	margin: 0 ;
}


#map{
    position: absolute;
    width: 100%;
    height: 100%;
}

/* form  */

  #map div .testForm {
  display: none;
  }



#header {
	width: 100vw;
	height: 10vh;
	position: fixed;
	z-index: 1000;
}
.search-container {
	margin: 10px;
  height: 100%;
}



.search {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: center;
}

.search .search_direct {
  position: absolute;
  top: 20px;
  right: 230px;
}




.menu {
  position: absolute;
  top: 10px;
  bottom: 15px;
  width: 103px;
  left: 62px;
  margin-top: 4px;
  z-index: 1001;
}

.menu-icon{
  font-size: 32px;
  padding: 11px;
}

.menu_list {
position: fixed;
 height: 100vh;
 width: 20vw;
 background-color: hsl(0, 0%, 100%);
 margin: 0;
 z-index: 1200;
}

.header-list{
 display: flex; 
 position: relative;
 border-bottom: 2px solid #ccc;
}

.map_name {
  font-family:serif;
  color: red;
  margin: 15px;
}

.btn_close {
  position: absolute;
  z-index: 3000;
  font-size: 25px;
  top: 4px;
  right: 23px;
  padding: 4px;
}



.items ul{
  margin-top: 5px;
  list-style: none;
}



.item-list{
  position: relative;
}


.item {
  display: flex;

}


.item-list li:hover {
  color: blue;
  cursor: pointer;
} 

.item .icon-cus{
 position: absolute;
 left: 20px;

}



.cus-item p{
  margin-left: 22px !important;
}

.item i #chevron-atm{
  position: absolute;
  right: 20px !important;
}

.items ul li {
  padding: 4px;
  display: flex;
  justify-content: space-evenly ;
  /* margin-left: 26px; */
}


/* list con */

#chevron-atm{
  margin-right: -60px;

}
#expand-atm{
  margin-right: -60px;
  display: none;
}

#chevron-trans {
  margin-right: -60px;
}
#expand-trans{
  margin-right: -60px;
  display: none;
}

#chevron-bank {
  margin-right: -74px;
}
#expand-bank{
  margin-right: -74px;
  display: none;
}

#chevron-add{
  margin-right: -98px;
}
#expand-add{
  margin-right: -98px;
  display: none;
}

.listChild{
  display: none;
}

.liAdds{
  display: none;
}



.liAdds ul li{
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

.listChild ul li{
  padding: 5px;
  margin-left: -24px;
}

.ul-child:first-child,
.ul-child-add:first-child{
  border-top: 1px solid #ccc;
}

.ul-child:last-child,
.ul-child-add:first-child{
  border-bottom: 1px solid #ccc;
}


/* end list con */
.search .search-icon {
  position: absolute;
  right:45%;
  top: 36%;
  color: #676767;
  font-size: 22px;
}

.search-icon .seprate {
  position: absolute;
  left: 36px;
  top: -18px;
  font-size: 46px;
  font-weight: 200
}

.icon-direct {
  position: absolute;
  font-size: 20px;
  z-index: 1001;
  left: 70px;
}

.search form{
  width: 80%;
}

.search input {
  width: 85%;
  padding: 4px 50px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  background-color: #fff;
}

input,
input::placeholder {
    font: 18px/3 sans-serif;
}

/* form */



#formaddTransit{
  display: none;
  height: fit-content;
}
.addForm{
position: relative;
height: 300px;
opacity: 1;
width: 430px;
z-index: 2000;
position: fixed;
top: 20%;
left: 30%;
background: #ccc;
border-radius: 20px;
padding: 20px;
}

#formAddAtm{
display: none;
height: fit-content;
}

#formAddBank{
display: none;
height: fit-content;
}

.addForm i{
position: absolute;
right: 10px;
top: 5px;
}
.addForm select {
border-radius: 4px;
height: 28px;
position: absolute;
right: 10px;
top: 42px;
}

.addForm button{
position: absolute;
right: 16px;
}

.addForm input {
width: 250px;	
}

.select-wrap {
  width: 215px;
  height: 22px;
}

.lihov:hover{
  background: #ccc;
}

.lihov {
  position: relative;
}

.lihov button{
  width: 32px;
  height: 28px;
 position: absolute;
 right: 3px;
}

.lihov button a{
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 3px;
  color: #fff;
}